[submodule "freeink-sdk"]
	path = freeink-sdk
	url = https://github.com/Free-Ink/freeink-sdk.git
	branch = main
[submodule "assets/tabler-icons"]
	path = assets/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
